/* .uncontrolled {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 40%;
    padding: 2%;
    color: black;
    background-color: cadetblue;
    font-size: large;
}
.names {
    display: flex;
    flex-direction: row;
    height: 30px;
}    
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
} */

.uncontrolled {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 3% auto;
    padding: 5%;
    border-radius: 10px;
    background-color: #a7d7d5;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.names {
    display: flex;
    flex-direction: row;
    padding: 5%;
    
}

 
label p {
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;

}

input[type="text"], 
input[type="email"], 
input[type="url"], 
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* input[type="radio"] {
    margin-right: 10px;
} */

button.uncontrolled__button {
    padding: 10px 20px;
    background-color: cadetblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5%;
}

button.uncontrolled__button:hover {
    background-color: #5a8a8f;
    
}

.textbox{
    height: 50px;
}